html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
    overflow: hidden;
}

/* header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

header .circle {
    display: inline-block;
    width: 40px;
    height: 40PX;
    background-color: #7ED957;
    border-radius: 50%;
    align-items: center;
}

.header h1 {
    margin-left: 10px;
}

.header h2 {
    margin-left: auto;
}
/*main*/

/*Footer*/
footer {
    height: 40px;
    width: 100%;
    margin: 5px;
    background-color: #00BF63;
    display: flex;
    align-items: center;
    justify-content: space-between;
}